Source: qfb-friends
Section: user/other
Priority: optional
Maintainer: Lucien XU <sfietkonstantin@free.fr>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: https://github.com/SfietKonstantin/qfb

Package: qfb-friends
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Friends for Harmattan
 Friends for Harmattan is a simple and fast client
 for Harmattan, based on qfb, a Qt library for
 Facebook
XSBC-Maemo-Display-Name: Friends
XB-Maemo-Flags: visible
